## Пример использования машинного обучения.

##### Задача, примитивная для своего понимания придумал, чтобы увязать метрики, размер обучающей выборки и результаты.

* Имеем рандомный сет 3 столбца цыфры от 0 до 5, 4й столбец это сумма цифр.
* Размер сета можно менять переменная set_lenght, это понадобиться когда будем учить модель.
* Модель RandomForestClassifier ну вот понравилась она мне и была в проекте и тренажере, и работает.
* Задача научить модель определять 4ю, цифру которая сумма.

### Библиотеки.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, mean_squared_error, f1_score, roc_auc_score
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
import numpy as np

### Размер сета.

In [2]:
set_lenght=300

### Генератор сета  для обучения.

In [3]:
df = pd.DataFrame(np.random.randint(0,5,size=(set_lenght, 3)), columns=list('ABC'))
df.head(10)

   A  B  C
0  1  2  2
1  4  3  4
2  4  2  1
3  2  0  1
4  2  2  2
5  0  1  3
6  4  1  1
7  4  4  2
8  1  0  0
9  1  4  0

### Добавим искомый столбец с суммой.

In [4]:
df['D']=df['A']+df['B']+df['C']
df.head(10)

   A  B  C   D
0  1  2  2   5
1  4  3  4  11
2  4  2  1   7
3  2  0  1   3
4  2  2  2   6
5  0  1  3   4
6  4  1  1   6
7  4  4  2  10
8  1  0  0   1
9  1  4  0   5

In [5]:
# разделим наши данные на признаки (матрица X) и целевую переменную (y)
X = df.drop('D', axis = 1)
y = df['D']

# разделим модель на обучающую и валидационную выборку
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

scaler = StandardScaler()
scaler.fit(X_train)

# Преобразуем обучающий и валидационные наборы данных
X_train_st = scaler.transform(X_train)
X_test_st = scaler.transform(X_test)
# зададим алгоритм для нашей модели
rf_model =  RandomForestClassifier(n_estimators = 100,random_state = 0) # Ваш код здесь
# обучим модель случайного леса
rf_model.fit(X_train, y_train)
# воспользуемся уже обученной моделью, чтобы сделать прогнозы
rf_predictions = rf_model.predict(X_test)
rf_probabilities = rf_model.predict_proba(X_test)[:, 1]

In [6]:
print(X_test)
print(rf_predictions)

     A  B  C
208  0  4  4
188  2  1  1
12   4  3  0
221  1  2  3
239  0  4  2
136  2  2  3
230  0  2  2
206  0  2  1
52   4  2  0
108  2  4  4
290  0  2  0
15   1  3  0
184  3  2  2
248  3  4  0
22   0  3  4
74   2  0  4
270  0  3  1
90   3  2  0
229  0  0  0
164  3  4  1
190  3  0  0
103  2  4  4
124  2  3  0
129  0  0  1
222  1  3  1
116  0  0  3
194  3  3  1
286  2  2  1
234  2  1  2
295  2  4  1
92   2  0  1
66   3  2  4
8    1  0  0
122  0  1  4
219  4  3  1
150  3  0  0
176  2  4  2
182  1  1  0
299  2  1  1
5    0  1  3
223  1  1  4
89   1  1  2
81   3  4  3
34   4  1  1
55   4  2  0
139  1  3  1
236  1  2  0
64   1  0  2
7    4  4  2
45   3  0  4
73   0  4  4
213  4  0  1
173  4  3  4
106  1  1  2
59   3  2  1
253  3  4  2
168  4  2  4
26   0  0  2
284  1  0  2
153  4  2  3
[ 8  4  7  6  5  7  3  3  7 10  2  4  7  7  7  6  4  5  0  8  3 10  5  1
  5  4  7  4  5  7  3  9  1  5  7  3  8  1  4  4  5  4 10  6  7  5  4  3
 10  8  8  5 11  4  6  9  9  3  3  9]

#### Померием метрики которые более менее мне понятны и просто понравились.

In [7]:
def print_all_metrics(y_true, y_pred, y_proba, title='Метрики классификации'):
    print(title)
    print('\tAccuracy: {:.2f}'.format(accuracy_score(y_true, y_pred)))
    print('\tPrecision: {:.2f}'.format(precision_score(y_true, y_pred,pos_label='positive',
                                           average='micro')))
    print('\tRecall: {:.2f}'.format(recall_score(y_true, y_pred,pos_label='positive',
                                           average='micro')))

In [8]:
print_all_metrics(
   y_test, 
   rf_predictions,
   rf_probabilities,
   title='Метрики для модели случайного леса:'
)

Метрики для модели случайного леса:
	Accuracy: 0.78
	Precision: 0.78
	Recall: 0.78

/home/gennalll/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1379: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
/home/gennalll/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1379: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

### Проверим нашу модель в деле.

Генерируем сет для проверки.

In [9]:
df_kontrol = pd.DataFrame(np.random.randint(0,5,size=(set_lenght, 3)), columns=list('ABC'))
df_kontrol.head(10)

   A  B  C
0  0  4  0
1  3  2  2
2  0  3  2
3  3  3  3
4  1  1  3
5  4  3  2
6  2  0  2
7  2  3  3
8  0  2  1
9  3  2  3

Генируем вектор для нашего контрольного сета.

In [10]:
rf_model.predict(df_kontrol)

array([ 4,  7,  5,  8,  5,  9,  4,  8,  3,  8,  7,  6,  4,  8,  8,  4,  3,
        2,  3,  2,  5,  6, 10,  6,  4,  6,  9,  5,  5,  7,  9,  1,  9,  9,
        8,  1,  9,  6,  5,  9,  4,  6,  7,  8,  5, 11,  9,  2,  9,  6,  4,
        7,  4,  3,  2,  7,  9,  4,  7,  4,  2,  3,  9, 12,  7,  5,  1,  6,
        8,  6,  7,  8,  8,  6,  7,  5,  8,  7,  7,  4,  8,  4,  5,  7,  9,
        8,  6,  7,  8,  8,  4,  6,  7,  3,  7,  9,  8, 12,  7,  7,  5,  7,
        5,  0,  5, 11,  6,  5,  8, 11,  7,  5,  9,  8,  3,  7, 10,  5,  3,
       10,  2,  8,  5,  8,  6,  7,  5,  6, 12,  9,  4,  7,  6,  3,  3,  3,
        5,  3,  4,  4,  8,  9,  4,  4,  2,  6,  4,  4,  9,  5,  5, 10,  5,
        7,  4,  6,  8,  4,  8,  8,  5,  6,  3,  5, 10,  7,  7,  6,  1,  5,
        6, 10,  3,  7,  3,  9,  7,  3,  4,  5,  8,  4,  3,  6,  1,  7,  6,
        5, 12,  8,  6,  7,  8,  7,  1,  5,  4,  3,  6,  5,  3,  3,  6,  6,
        5,  9,  1,  5,  7,  6,  4,  4,  5,  7,  3,  3,  5,  7,  9,  2,  8,
        7,  8,  7,  7,  8,  5, 10,  5, 11,  7,  4,  8,  5,  6,  5,  8,  5,
        8,  4,  9,  3,  0,  3,  6, 10,  8,  3,  9,  5,  2,  8,  7,  4,  3,
        5, 10,  3,  9,  1,  7,  5,  4,  3,  7,  6,  6,  7,  7,  3,  7,  5,
        9,  4,  1,  6,  8,  5,  7,  5,  4,  9,  5,  8,  8,  2,  5,  3,  8,
        8,  8,  4, 10,  9,  9,  1,  7,  3,  4,  6])

### Почти не ошибаеться видно что сумы нарисованы правильно !!!!!!

Если поиграть с значением set_lenght. Можно получать низкие и высокие метрики, и видно как на низких наша чудо модель ошибаеться, а на высоких отвечает правильно.

### Я счастлив!